

		<div class="container" th:fragment="form(requisicaoFormColaborador, action)">>
			<div class="row">
				<form th:object="${requisicaoFormColaborador}" th:action="${action}" method="POST">
					
					<div class="mb-3">
						<label class="form-label">Nome</label> <input class="form-control"
							th:errorclass="is-invalid" type="text" th:field="*{nome}">
						<div class="invalid-feedback" th:errors="*{nome}"></div>
					</div>

					<button class="btn btn-primary" type="submit">Submeter</button>
					<a href="javascript:history.back()">Voltar</a>
				</form>
			</div>
		</div>
	</div>
